



.navbar.navbar-1 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}
.navbar-light .navbar-toggler{
  border: none;
  outline: none;
}
.navbar-brand{
  text-transform:uppercase ;
  letter-spacing: 1px;
}
.web-development-bg{
  background-image: url(../images/head-picture.png) ;
  min-height: 810px;
  width: 100%;
  background-size: cover;
}
.web-development{
  padding-top: 200px;
  text-align: center;
  h1{
    font-size: 60px;
  }
  p{
    font-size: 20px;
  }
  a{
    text-transform: uppercase;
    padding: 20px;
    margin-top: 80px;
    &:hover{
      border: none;
      transition: 1s;
      background-color: #00897b;
    }
  }
}
.our-team{
  min-height: 1095px;
  width: 100%;
}
.team{
   h1{
     text-align: center;
     margin-top: 125px;
   }
  p{
    text-align: center;
  }
}
.team-photo{
  margin-top: 130px;
  h5{
    text-align: center;
  }
  h6{
    text-align: center;
  }
  .icons{
    background-color: #f0f1f1;
    font-size: 28px;
    line-height: 50px;
    display: inline-block;
    width: 50px;
    margin: auto;
    text-align: center;
    &:hover{
      color: white;
      background-color: #3949ab;
      transition: 1.5s;
    }
    i{
      line-height: 50px;
    }
  }
}



.contact{
  background-image: url(../images/footer-bg.png);
  min-height: 1250px;
  width: 100%;
  background-size: cover;
  .contact-us{
    h1{
      text-align: center;
      padding-top: 128px;
    }
    p{
      text-align: center;
    }
  }
}
.contact-photos{
  text-align: center;
  margin-top: 100px;
}
.col-md-8 {
  margin-top: 80px;
  .form-inline {
    .form-group {

      width: 49%;

      input {
        margin-bottom: 30px;
        height: 60px;
        }
      }


    textarea {
      width: 98%;
      height: 320px;
      color: #555;
      background-color: #fff;
      background-image: none;
    }
  }
}
